# Environments
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.tox/

# Project results / models / outputs
results/
evaluated_results/

# Editor etc.
.idea/
.vscode/

# Packaging
*.egg-info/
dist/
build/
