# IDE / editor
.idea/
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
.env/

# Build artifacts
dist/
build/

# Model & index files
*.pkl
*.faiss
*.pth
*.pt
*.npy
*.bin

# Data & Results
data/
results/
checkpoints/
embeddings/

# Syncthing temp files
~syncthing~*